body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #224b16;
}

.error {
    color: rgb(196, 9, 9);
    background-color: red;
    font-weight: bold;
}

header {
    background-color: #58854a;
    color: rgba(255, 228, 196, 0.753);
    padding: 10px;
    justify-content: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header img{
    width: 70px;
    height: 50px;
    border-radius: 35%;
    margin-left: 0px;
    margin-right: 0px;
}
 
nav {
    background-color: #58854a;
    padding: 10px 0;
    text-align: center;
}
 
nav a {
    margin: 0 10px;
    text-decoration: none;
    color: rgba(255, 228, 196, 0.753);
}

input[type="text"], input[type="email"], input[type="password"], textarea {
    padding: 10px;
    margin-top: 5px;
    font-size: 14px;
    border: 10px;
    color: black;
}

.input {
    display: block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #35ba00;
    color: black;
    border: none;
    cursor: pointer;
}

.form {
    width: 80%;
    margin: 20px;
    background-color: #a4f09d;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
}

.form-control {
    margin: 20px;
    background-color: #a4f09d;
    padding: 20px;
    border-radius: 5px;
}

.form-rapport {
    width: 500px;
    margin: 20px;
    background-color: #a4f09d;
    padding: 20px;
    border-radius: 5px;
}

.section-div{
    height: 380px;
    overflow-y: auto;
}